extends layout

block content
  h1= title1
  ul
    li
      a(href="/sanders.txt") Bernie Sanders
    li
      a(href="/trump.txt") Donald Trump
    
  h2=title2
  ul
    li
      a(href="/api/todo/show") Todolist
    li
      a(href="/api/todo/show/richard") List todolist for specific owner